body {
    margin:0;
}


#options {
    grid-area: options;
    box-shadow: 3px 3px 8px #ddd;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #options .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: #aaa;
  }
  
  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #colorholder {
      height: 100vh;
      width: 20%;
      box-shadow: 3px 3px 8px #ddd;
      border-radius: 1em;
      padding: 1em;
  }

  #hexagon {
    fill: #fff;
    stroke: rgb(4, 41, 4);
    stroke-width: 20;
  }

  .left-shade {
    fill: rgb(2, 2, 54);
  }
  
  .right-shade {
    fill: darkblue;
    opacity: 30%;
  }

  #options .option:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  #options .option.chosen {
    text-decoration: underline;
    color: #000;
  }
  
  #options .option img {
    width: 7vw;
    height: auto;
  }
  
  #options .option figcaption {
    font-size: 20px;
  }
 
  
  h1 {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }